///Media Query Ranges
$screen-lg-max: 1640px;
$xxs-range: (0em, 380px);
$xs-range: (381px, $screen-xs-max);
$small-range: ($screen-sm, $screen-sm-max);
$medium-range: ($screen-md, $screen-md-max);
$large-range: ($screen-md-max, $screen-lg);
$xlarge-range: ($screen-lg-max, 999999em);

$tablet-range: ($screen-sm, $screen-md-max);
$mobile-range: (0em, $screen-xs-max);






$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$xxs-up: "#{$screen} and (max-width: #{lower-bound($xxs-range)})";
$xxs-only: "#{$screen} and (min-width:#{lower-bound($xxs-range)}) and (max-width:#{upper-bound($xxs-range)})";

$xs-up: "#{$screen} and (min-width: #{lower-bound($xs-range)})";
$xs-only: "#{$screen} and (min-width:#{lower-bound($xs-range)}) and (max-width:#{upper-bound($xs-range)})";

$small-up: "#{$screen} and (min-width:#{lower-bound($small-range)})";
$small-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width:#{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$tablet-up: "#{$screen} and (min-width:#{lower-bound($tablet-range)})";
$tablet-only: "#{$screen} and (min-width:#{lower-bound($tablet-range)}) and (max-width:#{upper-bound($tablet-range)})";

$mobile-up: "#{$screen} and (min-width:#{lower-bound($mobile-range)})";
$mobile-only: "#{$screen} and (min-width:#{lower-bound($mobile-range)}) and (max-width:#{upper-bound($mobile-range)})";




