html {
    font-size: 62.5%;
}
body {
    font-size: 1.5rem;
}
h1 {
    font-size: 3.0rem;
    @media #{$small-and-up} {
        font-size: 3.6rem;
    }
    @media #{$medium-and-up} {
        font-size: 4.6rem;
    }
    @media #{$large-and-up} {
        font-size: 5.0rem;
    }
}
h2 {
    font-size: 2.8rem;
    @media #{$small-and-up} {
        font-size: 3.4rem;
    }
    @media #{$medium-and-up} {
        font-size: 4.2rem;
    }
    @media #{$large-and-up} {
        font-size: 5.0rem;
    }
}
h3 {
    font-size: 2.0rem;
    @media #{$small-and-up} {
        font-size: 2.0rem;
    }
    @media #{$medium-and-up} {
        font-size: 2.4rem;
    }
    @media #{$large-and-up} {
        font-size: 2.8rem;
    }
}
h4 {
    font-size: 1.7rem;
    @media #{$small-and-up} {
        font-size: 1.9rem;
    }
    @media #{$medium-and-up} {
        font-size: 2.2rem;
    }
    @media #{$large-and-up} {
        font-size: 2.4rem;
    }
}
h5 {
    font-size: 1.6rem;
    @media #{$small-and-up} {
        font-size: 1.8rem;
    }
    @media #{$medium-and-up} {
        font-size: 2.0rem;
    }
    @media #{$large-and-up} {
        font-size: 2.2rem;
    }
}