@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url("../sprites/#{$sprite-image}");
  display: inline-block;
}
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    ".icon-#{$sprite-name}" {
      @include sprite($sprite);
      background-color: transparent;
    }
  }
}
@include sprites($spritesheet-sprites);