.redColor {
    color: $primary-color;
}

html,
body,
.wraper,
.pusher,
.st-content,
.home {
	height: 100%;
}

.content {
	background: #fff;
    position: relative;
}
.wraper {
	position: relative;
    & .menu__open {
        overflow: hidden;
    }
}

.pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	transition: left cubic-bezier(.3,.76,.42,.88) 0.25s;
}

.pusher:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.menu__open .pusher:after {
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity 0.5s;
	z-index: 1;
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	// z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	transition: all 0.5s;
}

.menu:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.menu__open .menu:after {
	width: 0;
	height: 0;
	opacity: 0;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* Effect 7: 3D rotate in */

.wraper {
	perspective: 1500px;
	perspective-origin: 0% 50%;
}

.menu__open .pusher {

	left: -300px;
}

.menu {
	transform: translate3d(0, 0, 0) rotateY(90deg);
	transform-origin: 0 50%;
	transform-style: preserve-3d;
}

.menu__open .menu {
	visibility: visible;
	transition: transform 0.5s;
	transform: translate3d(0, 0, 0) rotateY(0deg);
}



/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .pusher,
.no-js .pusher {
	padding-right: 300px;
}
