.hero {
	position: relative;
	height: 100vh;
	.paralax {
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		background: center center;
		background-size: cover;
		transform: translateZ(0)
	}
}

.paralax__image {
	max-width: 100%;
	height: auto;
}

.hero__right {
	position: relative;
	z-index: 1;
	width: 50%;
	margin-left: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	background: rgba(233, 233, 233, 0.5);
	padding: 3% 3% 2% 4%;
	color: #3b3b3b;
	h3 {
		font-size: 2em;
		font-weight: bold;
		@media #{$medium-and-up} {
			font-size: 7vh;
		}
		@media #{$large-and-up} {
			font-size: 9vh;
		}
	}
	h4 {
		font-size: 1.5em;
		font-weight: bold;
		@media #{$medium-and-up} {
			font-size: 4vh;
		}
		@media #{$large-and-up} {
			font-size: 6vh;
		}
	}
}

.her__text {
	width: 100%;
	text-align: left;
}

.hero__mail {
	flex: none;
	position: fixed;
	bottom: 2%;
	right: 2%;
}

.parralaxBlock {
	overflow: hidden;
	position: relative;
	background: #fff;
	z-index: 1;
	@media #{$medium-and-up} {
		height: 100%;
		position: relative;
		min-height: 640px;
	}
}

.parralaxBlock__img {
	min-height: 200px;
	height: 40vh;
	background-repeat: none;
	background-position: center;
	background-size: cover;
	.parralaxBlock_left & {
		@media #{$medium-and-up} {
			right: 0px;
		}
	}
	.parralaxBlock_right & {
		@media #{$medium-and-up} {
			left: 0px;
		}
	}
	@media #{$medium-and-up} {
		height: 110%;
		position: absolute;
		width: 50%;
	}
}

.parralaxBlock__helper {
	.parralaxBlock_left & {
		@media #{$medium-and-up} {
			left: 0px;
		}
	}
	.parralaxBlock_right & {
		@media #{$medium-and-up} {
			right: 0px;
		}
	}
	@media #{$medium-and-up} {
		height: 100%;
		position: absolute;
		width: 50%;
	}
}

.parralaxBlock__inner {
	padding: 20px 0;
	position: relative;
	z-index: 1;
	@media #{$medium-and-up} {
		width: 50%;

	}
	.parralaxBlock_left & {

		@media #{$medium-and-up} {
			margin-right: auto;
			padding: 5% 8% 0 2%;
		}
	}
	.parralaxBlock_right & {
		@media #{$medium-and-up} {
			margin-left: auto;
			padding: 5% 2% 0 8%;
		}
	}
}

#mail {
	max-height: 80%;
}