	  <div id="mail" class="modal">
      <div class="modal-content">
        <h4>Mail</h4>
        <form class="">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email" data-error="введите email" data-success="right">Email</label>
            </div>
            <div class="input-field col s12">
              <input id="name" type="text">
              <label for="name" data-success="right">Name</label>
            </div>
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Your message</label>
            </div>
            <div class="right-align">
              <button href="/" class="waves-effect waves-light btn red">отправить</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/ScrollMagic.js"></script>
    <!--<script src="js/parallax.js"></script>-->
    <script src="js/materialize.js"></script>
    <!--<script src="js/svg.js"></script>-->
    <script src="js/app.js"></script>

  </body>
</html>