<header class="header">
    <a href="/" class="brand-logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 160" width="130.6" height="160">
            <path class="st0" d="M0 127.1l20.4 32.8h43.9V59.7l-8.5-8-36.2 17.7L14 31.3M130.6 127.1l-20.4 32.8H66.3V59.7l8.5-8L111 69.4l5.6-38.1"
            />
            <path class="st1" d="M116.4 0H14" />
            <path class="st0" d="M68.6 16.9H57.5l-6 10.7H24.9L18.5 6.2h93.1l-6.1 21.4H77l-6.1-10.7h-9.5" />
            <path d="M54.2 0" />
            <path class="st1" d="M76.4.2L53.6 0l1 1.6h20.8" />
            <path class="st2" d="M27.5 21.2l3.8-8.7 3.7 8.7" />
            <path class="st2" d="M32.2 21.1l-1 1.5-1-1.5" />
            <path class="st1" d="M62.4 57.9h3.7" />
            <path class="st0" d="M61 59.7h9.5v100.1H61z" />
            <path class="st3" d="M78.7 78.5H45.1l6 9.7h27.6" />
            <path class="st3" d="M52.9 78.5h33.4l-5.8 9.7H52.9" />
        </svg>
    </a>
    <button class="header__trigger btn-floating btn-large waves-effect waves-light red"><i class="material-icons">menu</i></button>
    <button class="hero__mail btn-floating btn-large waves-effect waves-light red" data-target="mail"><i class="material-icons">email</i></button>
</header>