<div class="menu">
    <nav>
        <ul class="menu__list">
            <li>
            <a href="/">test</a>
            </li>
            <li>
            <a href="/">test</a>
            </li>
            <li>
            <a href="/">test</a>
            </li>
            <li>
            <a href="/">test</a>
            </li>
        </ul>
    </nav>
</div>