.footer
{
    flex: none;
}
.footer_green
{
    padding: 30px 0 40px;

    color: #fff;
    background: url(../img/footerBg.jpg) center repeat-x;
    background-size: cover;
    a
    {
        color: #fff;
    }
    .container
    {
        max-width: 380px;
        @media #{$small-up}
        {
            max-width: 570px;
        }
        @media #{$medium-up}
        {
            max-width: $container-large-desktop;
        }

        
    }
}
.socials
{
    h5
    {
        @include font-size(15px);

        font-weight: 600;

        margin-bottom: .9em;

        text-transform: uppercase;
        @media #{$small-up}
        {
            text-align: center;
            @include font-size(17px);
            margin-bottom: 2em;
        }
    }
}
.socials__list
{
    padding-left: 0;

    list-style: none;

    text-align: justify;
    &:after
    {
        display: inline-block;

        width: 100%;

        content: '';
    }
    li
    {
        display: inline-block;

        vertical-align: top;
    }
    a
    {
        line-height: 0;

        display: block;

        width: 52px;

        transition: .3s opacity;
        &:hover
        {
            opacity: .5;
        }
        svg
        {
            fill: #fff;
        }
    }
}
.footer__nav
{
    padding-left: 0;

    list-style: none;
    @media #{$mobile-only}
    {
        display: flex;
        flex-direction: row;

        flex-wrap: wrap;
    }
    li {
        margin-bottom: 20px; 
    }
    
    li:nth-child(1)
    {
        @media #{$mobile-only}
        {
            order: 1;
            width: 40%;
        }
    }
    li:nth-child(2)
    {
        @media #{$mobile-only}
        {
            order: 3;
            width: 40%;
        }

    }
    li:nth-child(3)
    {
        @media #{$mobile-only}
        {
            order: 2;
            width: 60%;

        }

    }
    li:nth-child(4)
    {
        @media #{$mobile-only}
        {
            order: 4;
            width: 60%;
        }
    }
}
