.brand-logo {
    width: 6vh;
    display: inline-block;
    .st0 {
        fill: #F44336;
    }
    .st1 {
        fill: none;
    }
    .st2 {
        display: none;
    }
    .st3 {
        fill: #FFFFFF;
    }
    svg {
        display: block;
        width: 100%;
        height: auto;
    }
}

.header {
    padding-top: 3vh;
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    z-index: 2;
    left: 0;
    transition: 0.3s left ease-in-out;
}

.header__trigger {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 3;
}

.menu {
    nav {
        height: auto;
        background: none;
        box-shadow: none;
    }
}

.menu__list {
    li {
        display: block;
        float: none;
        border-bottom: 1px solid #000;
    }
    a {
        color: #000;
    }
}