//= template/head.html
<body>
  <div class="wrapper">
    //= template/menu.html
    <div class="pusher">
      //= template/header.html
      <div class="hero">
        <div class="paralax" style="background-image: url(img/bg_2.jpg)"></div>
        <div class="hero__right">
          <div class="her__text">
            <h3>Мы другие</h3>
            <h4>Нас отличает <br> Виденье <span class="redColor">сути</span></h4>
          </div>
        </div>
      </div>
      <main class="content generic">
        <div class="container">
          <h1 class="center">
            The science of digital marketing and business strategy can be confusing, and it's easy to be
            overwhelmed by the complexity of the many channels available today.
          </h1>
           <h2 class="center">
            Damon Segal and his team provide consultancy services from start-ups
            and blue chip businesses. Damon and Nathan have provided
            advisory services to companies such as Iron Mountain, Accenture, BA & EMI.
          </h2>
          <h3 class="center">
            Damon Segal and his team provide consultancy services from start-ups
            and blue chip businesses. Damon and Nathan have provided
            advisory services to companies such as Iron Mountain, Accenture, BA & EMI.
          </h3>
          <h4 class="center">
            Damon Segal and his team provide consultancy services from start-ups
            and blue chip businesses. Damon and Nathan have provided
            advisory services to companies such as Iron Mountain, Accenture, BA & EMI.
          </h4>
          <h5>
            Damon Segal and his team provide consultancy services from start-ups
            and blue chip businesses. Damon and Nathan have provided
            advisory services to companies such as Iron Mountain, Accenture, BA & EMI.
          </h5>
          <p>
             Damon Segal and his team provide consultancy services from start-ups
            and blue chip businesses. Damon and Nathan have provided
            advisory services to companies such as Iron Mountain, Accenture, BA & EMI.
          </p>
        </div>
      </main>
      //= template/footer.html
    </div>
  </div>
  //= template/end.html