//= template/head.html

<body>
  <div class="wrapper">
    //= template/menu.html
    <div class="pusher">
      //= template/header.html
      <main class="content home">
        <div class="hero">
          <div class="paralax" style="background-image: url(img/home.jpg)"></div>
          <div class="hero__right">
            <div class="her__text">
              <h3>Мы другие</h3>
              <h4>Нас отличает <br> Виденье <span class="redColor">сути</span></h4>
            </div>
          </div>
        </div>
        <div class="parralaxBlock parralaxBlock_left">
          <div class="parralaxBlock__img" style="background-image: url(img/1-01.svg)"></div>
          <div class="parralaxBlock__helper"></div>
          <div class="container">
            <div class="parralaxBlock__inner">
              <h3>Test</h3>
              <ul>
                <li>test</li>
                <li>test</li>
                <li>test</li>
              </ul>
              <p>test</p>
              <p><a href="/" class="waves-effect waves-light btn red">test</a></p>
            </div>
          </div>
        </div>
        <div class="parralaxBlock parralaxBlock_right">
          <div class="parralaxBlock__img" style="background-image: url(img/2-01.svg)"></div>
          <div class="parralaxBlock__helper"></div>
          <div class="container">
            <div class="parralaxBlock__inner">
              <h3>Test</h3>
              <ul>
                <li>test</li>
                <li>test</li>
                <li>test</li>
              </ul>
              <p>test</p>
              <p><a href="/" class="waves-effect waves-light btn red">test</a></p>
            </div>
          </div>
        </div>
        <div class="parralaxBlock parralaxBlock_left">
          <div class="parralaxBlock__img" style="background-image: url(img/3-01.svg)"></div>
          <div class="parralaxBlock__helper"></div>
          <div class="container">
            <div class="parralaxBlock__inner">
              <h3>Test</h3>
              <ul>
                <li>test</li>
                <li>test</li>
                <li>test</li>
              </ul>
              <p>test</p>
              <p><a href="/" class="waves-effect waves-light btn red">test</a></p>
            </div>
          </div>
        </div>
      </main>
      //= template/footer.html
    </div>
  </div>
  <div id="mail" class="modal">
    <div class="modal-content">
      <h4>Mail</h4>
      <form class="">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="введите email" data-success="right">Email</label>
          </div>
          <div class="input-field col s12">
            <input id="name" type="text">
            <label for="name" data-success="right">Name</label>
          </div>
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Your message</label>
          </div>
          <div class="right-align">
            <button href="/" class="waves-effect waves-light btn red">отправить</button>
          </div>
        </div>
      </form>
    </div>
    <!--<div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>-->
  </div>
  //= template/end.html